@import url('https://fonts.googleapis.com/css?family=Permanent Marker:100,200,300,400,500,600,700|Handlee:100,200,300,400,500,600,700');

/* general styles */

.section-image {
    /* image sourced from https://opengameart.org/content/background-texture-for-a-board-game */
    background: url("../images/background-image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
}

a {
    text-decoration: none;
}

/* logo, menu and score styles */

.logo-menu-score {
    background-color: #000;
    min-height: 120px;
}

.logo {
    font-family: "Permanent Marker", sans-serif;
    text-align: center;
    color: red;
}

.menu-volume {
    text-align: right;
    position: relative;
}

.volume, .menu {
    color: white !important;
    font-size: 24px;
    padding-right:10px;
}

#menu-list {
    display: none;
    position: absolute;
    top: 32px;
    right: 10px;
}

.menu-item {
    background-color: gray;
    text-align: center;
    font-family: "Handlee", sans-serif;
    color: white;
    display: block;
}

#difficulty {
    background-color: gray;
    color: white;
    border:0px;
}

.score {
    width: 80%;
    padding-top: 20px;
    font-family: "Handlee", sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
}

/* help styles */

#help-section {
    position: relative;
    top: 100px;
    margin: auto;
    background: url("../images/cardBack_green1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
    width: 210px;
    display: none;
}

#help-section p {
    text-align: center;
    color: white;
    font-family: "Handlee", sans-serif;
    padding: 15px;
}

#help-section button {
    margin: 20px auto;
    display: block;
}

/* card styles */

.card-table {
    margin: auto;
    /* height: 700px;
    min-width: 600px; */
}

.background-img {
    background: url("../images/cardBack_red2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    margin: 10px;
    margin-top: 25px;
    height: 133px;
    width: 98px;
}

.card-image {
    width: 98px;
    height: 133px;
}

.hidden {
    width: 0%;
    display: none;
}

/* media queries */

@media(max-width: 750px) {

    /* card styles */

    .card-image, .background-img {
        width: 67px;
        height: 91px;
    }
}

@media(max-width: 550px) {

    /* score styles */

    .counter {
        display: block;
    }

    /* card styles */

    .card-image, .background-img {
        width: 34px;
        height: 47px;
    }
}
