@import url('https://fonts.googleapis.com/css?family=Permanent Marker:100,200,300,400,500,600,700|Handlee:100,200,300,400,500,600,700');

/* --------- general styles --------- */

/* sets the green tiled background image for the board */
.section-image {
    /* image sourced from https://opengameart.org/content/background-texture-for-a-board-game */
    background: url("../images/background-image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
}

/* hides decoration for any links */
a {
    text-decoration: none;
}

/* repositions the visual feedback elemnts */
.feedback {
    position: absolute;
    top: 825px;
    left: 50%;
    display: none;
}

/* sets the feedback image slightly left. This is to ensure it is properly centred */
.feedback img {
    position: relative;
    left: -50%;
}

/* allows items to be hidden */
.hidden {
    width: 0%;
    display: none;
}

/* --------- logo, menu and score styles --------- */

/* Sets the background/hegith for the top section */
.logo-menu-score {
    background-color: #000;
    min-height: 120px;
}

/* sets style for the logo */
.logo {
    font-family: "Permanent Marker", sans-serif;
    text-align: center;
    color: red;
}

/* sets postion for the menu and volume section */
.menu-volume {
    text-align: right;
    position: relative;
}

/* sets style for volume and menu */
.volume, .menu {
    color: white;
    font-size: 24px;
    padding-right:10px;
}

/* sets style for the dropdown menu */
#menu-list {
    background-color: gray;
    display: none;
    position: absolute;
    top: 32px;
    right: 10px;
}

/* sets style for each item on the menu */
.menu-item {
    text-align: center;
    font-family: "Handlee", sans-serif;
    color: white;
    display: block;
}

/* sets style for the difficulty selector */
#difficulty {
    background-color: gray;
    color: white;
    border:0px;
}

/* sets style for the score section */
.score {
    width: 80%;
    padding-top: 20px;
    font-family: "Handlee", sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
}

/* --------- help and win styles --------- */

/* sets background image and position for help/win section */
#help-section, #win-section {
    position: relative;
    top: 100px;
    margin: auto;
    background: url("../images/cardBack_green1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
    width: 210px;
    display: none;
}

/* sets style for text in win/help section */
#help-section p, #win-section p {
    text-align: center;
    color: white;
    font-family: "Handlee", sans-serif;
    padding: 15px;
}

/* sets style for button in help/win section */
#help-section button, #win-section button {
    margin: 20px auto;
    display: block;
}

/* --------- card styles --------- */

/* centres the card table */
.card-table {
    margin: auto;
}

/* sets a default background image for each cell in the table */
.background-img {
    background: url("../images/cardBack_red2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    margin: 10px;
    margin-top: 25px;
    height: 133px;
    width: 98px;
}

/* sets position for card images when they are shown */
.card-image {
    width: 98px;
    height: 133px;
}



/* --------- media queries --------- */
/* overrides for smaller screens */

@media(max-width: 750px) {

    /* general styles */

    .feedback {
        top: 650px;
    }

    /* card styles */

    .card-image, .background-img {
        width: 67px;
        height: 91px;
    }
}

@media(max-width: 550px) {

    /* general styles */

    .feedback {
        top: 500px;
    }

    /* score styles */

    .counter {
        display: block;
    }

    /* card styles */

    .card-image, .background-img {
        width: 34px;
        height: 47px;
    }


}
